<div class="nav container" style="margin-top: 24px">
  <h1 id="greeting">Welcome to Robot World</h1>
</div>
<div class="container" style="padding: 24px">
<ul class="list-inline">
  <li><a href="/robots" class="btn btn-warning" id="index_button"><span class="glyphicon glyphicon-list" style="font-size: 20px"></span> Robot Index</a></li>
  <li><a href="/robots/new" class="btn btn-warning" id="new_button"><span class="glyphicon glyphicon-pencil" style="font-size: 20px"></span> New Robot</a></li>
  <li><a href="/robots/analytics" class="btn btn-warning" id="stats_button"><span class="glyphicon glyphicon-graph" style="font-size: 20px"></span> Robot Statistics</a></li>
</ul>
</div>
