<form action="/robots" method="post" class="container" style="padding-top: 12px">
  <h3>Enter a new robot:</h3>
  <input type='text' name='robot[name]' placeholder='Robot Name'/><br/><br/>
  <input type='text' name='robot[city]' placeholder='City'/><br/><br/>
  <input type='text' name='robot[state]' placeholder='State'/><br/><br/>
  <input type='text' name='robot[avatar]' placeholder='Avatar Link'/><br/><br/>
  <input type='text' name='robot[birthdate]' placeholder='Birthday'/><br/><br/>
  <input type='text' name='robot[date_hired]' placeholder='Date Hired'/><br/><br/>
  <input type='text' name='robot[department]' placeholder='Department'/><br/><br/>
  <input type='submit' class="btn btn-warning" value="Submit"/>
</form>
